body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    margin-left: 32px;
    margin-right: 32px;
}

h1, h2 {
    color: teal;
}

label {
    float: left;
    width: 160px;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="date"], select {
    width: 240px;
    margin-left: 8px;
    margin-bottom: 8px;
}

br {
    clear: both;
}
.logo {
    width: 125px;
    height:125px;
}
.logo img {
    width: 100%;
    height:100%;
}
.form-group {
    margin-bottom: 1px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"], input[type="checkbox"] {
    margin-bottom: 10px;
}

